.codeMirror  { 
    height: 240px;
    font-size: 91%;
    border: 1px solid #ddd;
    background-color: #222;
     }
    

 
    #error {
        display:none;
        color: #d63f3f;
    }
    
    pre, #codeeditor, #codekeyboardinput {
      font-family: 'Fira Code', monospace;
    }
    
    
    
    #resultpre {
        height: auto;
        overflow: auto;
        word-wrap: break-word !important;
        white-space: pre-wrap;
        padding: 10px;
        width: 100%;
        min-height: 200px;
        background-color: #111;
        border: 1px solid #555;
        color: #efefef;
    }
   
   
    #codeeditor {
 
        background-color: #333;
        border: 1px solid #555;
        color: #efefef;
    }    


    #codekeyboardinput {
        height: auto;
        word-wrap: break-word !important;
        white-space: pre-wrap;
        padding: 10px;
        width: 100%;
        min-height: 200px;
        background-color: #333;
        border: 1px solid #555;
        color: #efefef;
    }    
    