.gloBox input,
.gloBox input[type="text"]:focus {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  outline: -webkit-focus-ring-color auto 0px !important;

  border-radius: 0;
  -webkit-border-radius: 0;

  border: 0;
  background-color: rgb(39, 39, 39);
  color: rgb(250, 252, 145);

}

.gloBox {
  border: 0px solid #ddd;
  font-family: "Fira Mono", monospace;
  font-size: 82%;
}
.gloBox.running {
  border-color: rgb(92, 184, 64);
}
.gloBox.running.paused {
  border-color: rgb(224, 193, 56);
}
.gloBox .gloControls {
  border-bottom: 8px solid #ddd;
}
.gloBox.running .gloControls {
  border-color: rgb(92, 184, 64);
}
.gloBox.running.paused .gloControls {
  border-color: rgb(224, 193, 56);
}

.gloBox .gloAceEditor {
  min-height: 350px;
  background-color: #222;
}

.gloBox .gloControls {
  background-color: #faf9f9;
}

.gloBox .gloTabHeader {
  padding: 3px 7px;
  color: #fff;
}

.gloBox .gloInputHeader {
  background-color: #0c68ee;
}

.gloBox .gloOutputHeader {
  background-color: #198754;
}

.gloBox .gloOutputHeaderDetails {
  background-color: #ffc107;
  color: #111;
}

.gloBox .gloEditorHeader {
  background-color: rgb(69, 140, 161);
  text-align: center;
}

.gloBox .gloEntolesTab,
.gloBox .gloMemTab {
  color: #fff;
  min-height: 10em;
}

.gloBox ::-webkit-scrollbar {
  width: 12px;
}

.gloBox ::-webkit-scrollbar-thumb {
  border-radius: 0.7em;
  -webkit-border-radius: 0.7em;
  background-color: rgb(85, 85, 85);
}

.gloBox ::-webkit-scrollbar-corner {
  background: rgb(85, 85, 85);
}

.gloBox .gloSidebarTabInner {
  position: absolute; /* Added */
  top: 2em;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.gloBox .gloEntolesTab {
  background-color: rgb(49, 49, 49);
}
.gloBox .gloMemTab {
  display: none;
  background-color: rgb(61, 61, 61);
}

.gloBox .gloError {
  display: none;
  color: #d63f3f;
}

.gloBox .gloEntolesHeader,
.gloBox .gloMemHeader {
  cursor: pointer;
  padding: 5px 7px;
  color: #fff;
  margin-bottom: 6px;
}
.gloBox .gloEntolesHeader {
  background-color: rgb(49, 49, 49);
}
.gloBox .gloMemHeader {
  background-color: rgb(61, 61, 61);
}

.gloBox .gloAllCommands {
  line-height: 1.2;
  padding: 7px;
}

.gloBox .gloAllCommands .gloCommandText {
  cursor: pointer;
  margin: 0 2px 0 0;
  padding: 0px;
  color: rgb(170, 182, 250);
}

.gloBox .gloAllCommands .gloCommandText:hover {
  color: rgb(203, 217, 221);
}

.gloBox pre,
.gloBox .gloCodeKeyboardInput {
  font-family: "Fira Mono", monospace;
}

.gloBox .gloMemory {
  overflow-x: hidden;
  overflow-y: auto;
  word-wrap: break-word !important;
  white-space: pre-wrap;
  margin: 0px;
  padding: 0px;
  color: #efefef;
}
.gloBox .gloMemory table td {
  padding: 3px 5px;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}
.gloBox .gloMemory table {
  color: #efefef;
}
.gloBox .gloMemory table td.tdid {
  color: #ffffff;
}
.gloBox .gloMemory table td.tdvalue {
  color: #f3e45c;
  text-align: center;
}
.gloBox .gloMemory table td.tdtype {
  color: #afafaf;
}
.gloBox .gloMemory tr.highlightRow {
  background-color: rgb(88, 102, 71);
}

.gloBox .gloResultPre,
.gloBox .gloResultDetailsPre {
  overflow: auto;
  word-wrap: break-word !important;
  white-space: pre-wrap;
  margin: 0px;
  padding: 10px;
  width: 100%;
  height: 150px;
  background-color: #333;
  border: 0px solid #ddd;
  color: #efefef;
}

.gloBox .gloResultPre ul,
.gloBox .gloResultDetailsPre ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.gloBox .gloResultPre ul li,
.gloBox .gloResultDetailsPre ul li {
  margin: 1px;
  padding: 0px;
}

.gloBox textarea.gloCodeKeyboardInput {
  display: block;
  outline: none;
  resize: none;
  width: 100%;
  height: 150px;
  overflow: auto;
  word-wrap: break-word !important;
  white-space: pre-wrap;
  margin: 0px;
  padding: 15px;
  background-color: #333;
  border: 0px solid #ddd;
  color: #efefef;
}

.gloBox span.errorMsg {
  color: rgb(255, 92, 92);
}
.gloBox span.noticeMsg {
  color: rgb(240, 108, 20);
}
.gloBox span.readValue {
  color: rgb(236, 154, 30);
  font-style: italic;
}

.gloBox .myContentClass {
  background: rgb(18, 105, 25);
}

.gloBox .ace_gutter-cell.ace_breakpoint {
  border-radius: 20px 0px 0px 20px;
  /* Change the color of the breakpoint if you want */
  box-shadow: 0px 0px 1px 1px #c59100 inset;
}
