.gloBox {
  border: 0px solid #ddd;
}

.gloAceEditor {
  min-height: 350px;
  font-family: "Fira Mono", monospace;
  font-size: 85%;
}

.gloControls {
  padding: 12px 15px;
  background-color: rgb(231, 231, 231);
}

.gloTabHeader {
  padding: 3px 7px;
  font-family: "Fira Mono", monospace;
  font-size: 80%;
  color: #fff;
}

.gloInputHeader {
  background-color: rgba(91, 192, 222, 0.7);
}

.gloOutputHeader {
  background-color: rgba(92, 184, 92, 0.7);
}

.gloOutputHeaderDetails {
  background-color: rgb(236, 154, 30);
}

.gloEditorHeader {
  background-color: rgb(69, 140, 161);
  text-align: center;
}

.gloError {
  display: none;
  color: #d63f3f;
}

pre,
.gloCodeKeyboardInput {
  font-family: "Fira Mono", monospace;
}

.gloMemory {
  font-family: "Fira Mono", monospace;
  overflow-y: scroll;
  word-wrap: break-word !important;
  white-space: pre-wrap;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 500px;
  background-color: #252526;
  border-left: 1px solid #333;
  color: #efefef;
  font-size: 75%;
}
.gloMemory table {
  color: #efefef;
}
.gloMemory table td {
  padding: 0px;
}

.gloResultPre,
.gloResultDetailsPre {
  overflow: auto;
  word-wrap: break-word !important;
  white-space: pre-wrap;
  margin: 0px;
  padding: 15px;
  width: 100%;
  height: 150px;
  background-color: #222;
  border: 0px solid #ddd;
  color: #efefef;
  font-size: 80%;
}

textarea.gloCodeKeyboardInput {
  outline: none;
  resize: none;
  width: 100%;
  height: 150px;
  overflow: auto;
  word-wrap: break-word !important;
  white-space: pre-wrap;
  margin: 0px;
  padding: 15px;
  background-color: #efefef;
  border: 0px solid #ddd;
  color: #222;
  font-size: 80%;
}

span.errorMsg {
  color: rgb(243, 62, 62);
}
span.noticeMsg {
  color: rgb(240, 108, 20);
}
span.readValue {
  color: rgb(236, 154, 30);
  font-style: italic;
}

.myGlyphMarginClass {
}

.myContentClass {
  background: rgb(18, 105, 25);
}
